# ==================================
# DipRail – Godot 4.7 project
# ==================================

# ----------------------------------
# Godot 4+ generated / cache
# ----------------------------------
.godot/
*.import
*.tmp
*.bak
*.log
*.uid
*.godot_editor

# ----------------------------------
# Build & export
# ----------------------------------
export/
build/
Builds/
release/

# ----------------------------------
# Platform specific
# ----------------------------------
.android/
.godot/android/
.godot/ios/
.godot/web/
.DS_Store
Thumbs.db
desktop.ini

# ----------------------------------
# IDE / Editor
# ----------------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ----------------------------------
# Mono / C# 
# ----------------------------------
*.csproj
*.sln
*.mono/
.mono/

# ----------------------------------
# Rust and C++
# ----------------------------------
diprail_rust/
cpp_extensions/
target/

# ----------------------------------
# Blender backups
# ----------------------------------
*.blend1
*.blend2

# ----------------------------------
# Python cache
# ----------------------------------
__pycache__/
*.pyc

# ----------------------------------
# Old or not used stuff
# ----------------------------------
old-stuff/
Texture/

# ----------------------------------
# DipRail specific ignores
# ----------------------------------
.glb
