#DipRail specific ignores
old-stuff/
Materials/
Builds/
assets/
Texture/
Tools/

# Godot 4+ specific ignores
.godot/
*.import
*.tmp
*.bak
*.log
/android/

# Export
export/
build/

# Android
.android/
.godot/android/

# iOS
.godot/ios/

# macOS
.DS_Store

# Windows
Thumbs.db

# Mono (if you removed C#)
*.csproj
*.sln
*.mono/

#VSCode specific ignores
.vscode/